.productDetail {
  padding: 150px 10rem 0 10rem;
  font-family: "inter", sans-serif;
  display: flex;
  flex-direction: column;

  .hero {
    display: flex;
    gap: 1rem;

    .image {
      position: relative;
      img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 8px;
      }

      .love {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 50px;
        height: 50px;
        background-color: #292d32;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;

        img {
          width: calc(100% - 28px);
          object-fit: contain;
        }
      }
    }

    .productInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.2rem;

      h1 {
        font-size: 2.5rem;
        font-weight: 700;
        color: #292d32;
      }

      span {
        font-size: 1.5rem;
        color: #292d32;
        font-weight: 400;
      }

      p {
        font-size: 14px;
        color: #292d32;

        a {
          color: #292d32;
          text-decoration: underline;
        }
      }

      .spec {
        width: 40%;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          li {
            font-size: 14px;
            color: #292d32;
          }

          &:nth-of-type(1) {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }

      .action {
        display: flex;
        gap: 1rem;

        button {
          width: 100%;
          height: 70px;
          min-width: 70px;
          background-color: #292d32;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 40px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: fit-content;
          border: transparent 1px solid;

          &:hover {
            background-color: #1d1f22;
          }

          &:nth-of-type(1) {
            background-color: transparent;
            padding: 0 64px;
            color: #292d32;
            border: #292d32 1px solid;

            &:hover {
              background-color: #292d32;
              color: #fff;
            }
          }
        }

        a {
          width: 100%;
          height: 70px;
          min-width: 70px;
          background-color: #292d32;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 40px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: fit-content;
          border: transparent 1px solid;
        }
      }
    }
  }

  .description {
    margin-top: 2rem;
    font-size: 16px;
    color: #292d32;
    font-weight: 400;
    text-align: justify;
  }

  .sellerInfo {
    margin-top: 32px;
    display: flex;
    .left {
      width: 20%;
      display: flex;
      flex-direction: column;

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 16px;
      }

      h1 {
        font-size: 24px;
        color: #292d32;
        font-weight: 500;
      }

      span {
        font-size: 16px;
        color: #292d32;
        font-weight: 400;
        display: flex;
        gap: 0.5rem;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }

        &:nth-of-type(1) {
          margin-bottom: 1rem;
        }
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .top {
        display: flex;
      }

      .reviewCard {
        display: flex;

        .profile {
          margin-right: 1rem;

          img {
            width: 70px;
            border-radius: 100px;
          }
        }

        .reviewContent {
          display: flex;
          flex-direction: column;
          justify-content: start;
          gap: 0.2rem;
        }

        .nameAndTime {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          h2 {
            font-size: 16px;
            color: #292d32;
            font-weight: 600;
          }

          span {
            font-size: 14px;
            color: #292d32;
            font-weight: 400;
          }
        }
      }
    }
  }

  .newCollections {
    margin-bottom: 80px;

    h1 {
      text-align: center;
      margin: 80px 0 40px 0;
      font-weight: 400;
    }

    .container {
      display: flex;
      gap: 1rem;
      justify-content: center;

      .productCard {
        display: flex;
        flex-direction: column;
        width: calc(100% / 4);

        img {
          border: #292d32 1px solid;
          height: 300px;
          object-fit: cover;
          border-radius: 8px;
        }

        h1 {
          font-size: 16px;
          color: #292d32;
          font-weight: 500;
          margin-top: 0.3rem;
          text-align: start;
          margin: 4px 0 0 0;
        }

        span {
          font-size: 14px;
          color: #292d32;
          font-weight: 400;
        }
      }
    }
  }
}
