.products {
  font-family: "inter", sans-serif;
  padding: 150px 10rem 0 10rem;

  .filter {
    display: flex;
    gap: 8px;
    overflow: scroll;
    scrollbar-color: transparent;
    scrollbar-width: none;
    padding-bottom: 24px;
    .item {
      display: flex;
      gap: 8px;
      align-items: center;
      border: #292d32 solid 1px;
      padding: 12px 24px;
      border-radius: 32px;

      .categoryButton {
        background-color: transparent;
        border: none;
      }

      span {
        font-size: 12px;
      }

      img {
        width: 18px;
      }
    }
  }

  .productsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 32px;
    margin-top: 24px;

    .card {
      width: calc(100% / 4 - 24px);
      display: flex;
      flex-direction: column;
      opacity: 0;
      transform: translateY(10px);
      animation: fadeInUp 0.5s ease-in-out forwards;

      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 16px;
        border: rgba(41, 45, 50, 0.3) solid 1px;
      }

      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 24px;

        h2 {
          font-size: 14px;
          font-weight: 500;
        }

        p {
          font-size: 14px;
          color: #292d32;
        }
      }
    }
  }

  .loadMore {
    height: fit-content;
    display: flex;
    border: none;
    background-color: #292d32;
    color: white;
    padding: 12px 24px;
    border-radius: 32px;
    margin: 24px auto 80px auto;
    cursor: pointer;
    border: transparent solid 1px;

    &:hover {
      background-color: #fff;
      color: #292d32;
      border: #292d32 solid 1px;
      transition: all 0.3s ease;
    }

    &:disabled {
      background-color: transparent;
      color: rgba(41, 45, 50, 0.7);
      cursor: default;

      &:hover {
        background-color: transparent;
        color: rgba(41, 45, 50, 0.7);
        border: transparent solid 1px;
      }
    }
  }
}

@media (max-width: 480px) {
  .products {
    padding: 10px 1rem 0 1rem;
    .productsList {
      gap: 8px;
      .card {
        width: calc(100% / 4 - 8px);

        img {
          height: 100px;
          border-radius: 16px;
        }

        .info {
          flex-direction: column;
          align-items: flex-start;

          h2 {
            font-size: 12px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .products {
    padding: 10px 1rem 0 1rem;
    .productsList {
      gap: 8px;

      .card {
        width: calc(100% / 4 - 8px);

        img {
          height: 100px;
          border-radius: 16px;
        }

        .info {
          flex-direction: column;
          align-items: flex-start;

          h2 {
            font-size: 12px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .products {
    padding: 150px 1rem 0 1rem;
    .productsList {
      .card {
        .info {
          h2 {
            font-size: 12px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .products {
    padding: 150px 3rem 0 3rem;
  }
}
